[user]
	name = Your Name
	email = you@example.com

[core]
	editor = vim
	excludesfile = ~/.gitignore.global
	autocrlf = input
	whitespace = trailing-space,space-before-tab

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	colorMoved = default

[merge]
	conflictstyle = diff3

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow
	untracked = red

[alias]
	# Short aliases
	st = status
	co = checkout
	br = branch
	ci = commit
	
	# Useful commands
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = log --graph --oneline --all --decorate
	amend = commit --amend --no-edit
	
	# Show branches with last commit
	branches = branch -vv
	
	# Pretty log
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	
	# List aliases
	aliases = config --get-regexp alias